@font-face {
	font-family: 'Sora';
	src: url('../assets/fonts/Sora-VariableFont_wght.ttf') format("truetype-variations");
}


a {
	all: unset;
	cursor: pointer;
}


/* non toccare la scrollbar che funziona per opera dello spirito santo */
html::-webkit-scrollbar {
	width: 0px;
}

html::-webkit-scrollbar-thumb {
	background: #000000;
}

.menuProgetti::-webkit-scrollbar {
	width: 0px;
}

.menuProgetti::-webkit-scrollbar-thumb {
	background: #000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}


body {
	position: absolute;
	background-color: #F2F2F2;
	user-select: none;

	/* background-image: url(../assets/layout-prog.png);
	background-size: 100%;
	background-blend-mode: multiply;
	background-repeat: no-repeat; */
}

.content {
	margin-top: 0;
	margin-left: 1.5vw;
	width: 97vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: fixed;
	z-index: -1;
}

.header {
	width: 100%;
	height: 20vh;
	padding-top: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sx {
	width: auto;
	display: flex;
	flex-direction: row;
	gap: 8.2vw;
}

.back {
	position: fixed;
	width: 18.2vw;
	height: 20vh;
	padding-top: 5vh;
	display: flex;
	justify-content: flex-start;
	padding-left: 1.5vw;
	z-index: 10;
}

.icona-back {
	height: 1.5vw;
	rotate: 90deg;
	padding-left: 0.7vw;
	cursor: pointer;
}


.dx {
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 4.5vw;
}

.contatti {
	width: auto;
	font-size: 1.26vw;
	font-family: 'Sora';
	font-weight: 400;
	text-decoration: underline;
	text-underline-offset: 0.25vw;
	text-decoration-thickness: 0.1vw;
	cursor: pointer;
}



#get-in-touch {
	width: auto;
	font-size: 1.26vw;
	font-family: 'Sora';
	font-weight: 400;
	text-decoration: underline;
	text-underline-offset: 0.25vw;
	text-decoration-thickness: 0.1vw;
	display: flex;
	cursor: pointer;
}

#links {
	width: 7.9vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	display: none;
	cursor: pointer;
}

#iconaGhost {
	width: 1.5vw;
	padding-top: 0.5vh;
	cursor: pointer;
	opacity: 0;
}

.icona-menu {
	width: 1.5vw;
	padding-top: 0.5vh;
	cursor: pointer;
}

.dxicon{
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 4.5vw;
	z-index: 10;
	height: 20vh;
	padding-top: 5vh;
	margin-top: 0;
	margin-left: 93.5vw;
	width: 4vw;
}

.filtri {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1.5vw;
	translate: 0, -50%;

}

.box-filtri {
	width: 18.2vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.2vw;
}

.icone-filtri {
	height: 2vw;
	width: 3vw;
	cursor: pointer;
}

.t-filtri {
	font-size: 0.65vw;
	font-family: 'Sora';
	font-weight: 600;
	text-decoration: underline;
	text-underline-offset: 0.25vw;
	text-decoration-thickness: 0.1vw;
}

.t-filtri:hover {
	cursor: pointer;
}


.scroll {
	position: fixed;
	z-index: +1;
	margin-left: 50%;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 1.2vw;
	transform: translateX(-50%);
	animation-name: freccia;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	height: 7vh;
}

@keyframes freccia {
	0% {
		margin-top: 83vh;
	}

	50% {
		margin-top: 86vh;
	}

	100% {
		margin-top: 83vh;
	}
}

@keyframes stop {
	0% {
		margin-top: 86vh;
	}

	50% {
		margin-top: 86vh;
	}

	100% {
		margin-top: 86vh;
	}
}

#t-works {
	font-size: 0.9vw;
	font-family: 'Sora';
	font-weight: 500;
	transition: all 500ms ease;
}

#icona-freccia {
	height: 1.5vw;
	rotate: 0deg;
	transition: all 500ms ease;
	cursor: pointer;
	z-index: 1;
}



.scroll-progetto {
	position: absolute;
	margin-left: 19.7vw;
	width: 60.6vw;
	height: auto;
}


#sezVerticale {
	height: 100vh;
	width: auto;
}


#sezVerticale2 {
	height: 80vh;
	width: auto;
}


.sezioni {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

/* #slides {
	height: 80vh;
}

#slides2 {
	height: auto;
	margin-bottom: 30vh;
} */

#slides1{
	height: auto;
	margin-bottom: 5vh;
}

#slides-cell1 {
	margin-bottom: 2vh;
}


#wbd{
	height: 60vh;
}

#slides-cell {
	height: 90vh;
}

#boxscroll {
	height: 80vh;
	display: flex;
	justify-content: flex-start;
	overflow-x: scroll;
	margin-bottom: 10vh;
}

/* non toccare la scrollbar che funziona per opera dello spirito santo */
#boxscroll::-webkit-scrollbar {
	scrollbar-color: rgba(0, 0, 0, 0.5);
}



#scrollbar {
	background-color: rgba(0, 0, 0, 0.5);
	width: 22.5vw;
	height: 0.8vh;
	margin-top: -1.2vh;
	border-radius: 1vw;
}

#slides2 {
	height: 45vh;
	margin-bottom: 25vh;
}

#slides2b {
	height: 45vh;
	margin-bottom: 40vh;
}


#slides5a {
	height: 45vh;
	margin-bottom: 40vh;
}

#slides5b {
	height: 45vh;
	margin-bottom: 25vh;
}

#slides5c {
	height: 45vh;
	margin-bottom: 15vh;
}


#scrollslide {
	height: 100%;
	width: auto;
}


#abstract {
	height: auto;
	/* padding-top: 5vh; */
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-start;
	z-index: -1;
	margin-top: 10vh;
	margin-bottom: 25vh;
}


#sez0 {
	position: absolute;
	margin-top: 20vh;
	margin-left: 1.5vw;
	width: 97vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 0.1vw;
	z-index: +1;
}

.introProj {
	width: 97vw;
	height: 80vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1.5vw;
	z-index: +1;
}

.infoProj {
	width: 18.2vw;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: +1;

}

.nomeProj {
	width: 18.2vw;
	font-size: 1.26vw;
	font-family: 'Sora';
	font-weight: 400;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 1vw;
}

.info {
	width: 18.2vw;
	font-size: 0.65vw;
	font-family: 'Sora';
	font-weight: 600;
	height: auto;
	padding-bottom: 1.5vw;
}

.text {
	font-size: 0.7vw;
	font-family: 'Sora';
	font-weight: 400;
}

#tesi {
	text-decoration: underline;
	text-underline-offset: 0.25vw;
	text-decoration-thickness: 0.1vw;
	cursor: pointer;
	padding-bottom: 0.5vw;
}

.immagine {
	width: 57.6vw;
	height: auto;
	display: flex;
	justify-content: center;
	/* overflow: hidden; */
}

.cover-img {
	height: auto;
	width: 100%;
}

#prev7 {
	margin-top: -10vh;
}

#prev8 {
	margin-top: -7vh;
}


.preview-img {
	width: 100%;
	height: auto;
}

.preview-cell {
	height: 60vh;
	border: 0.4vw solid #000000;
	border-radius: 2vw;
	background-color: #000000;
}



.Tabstract {
	font-size: 1.26vw;
	font-family: 'Sora';
	font-weight: 400;
}

#italic {
	font-size: 1.26vw;
	font-family: 'Sora';
	font-weight: 400;
	font-style: italic;
}

.videoPc {
	border: 0.4vw solid #000000;
	border-radius: 2vw;
	background-color: #000000;
}

#videoPc {
	border: 0.4vw solid #000000;
	border-radius: 2vw;
	background-color: #000000;
}

#progettuale {
	width: 100vw;
	margin-left: -19.7vw;
	margin-bottom: 20vh;
	/* z-index: +1; */
}

/* menu progetti */

.menuProgetti {
	position: absolute;
	margin-top: 20vh;
	margin-left: 1.5vw;
	width: 97vw;
	height: 80vh;
	display: flex;
	/* flex-direction: column; */
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	overflow-y: scroll;
	gap: 0.1vw;
	z-index: 1;
	display: none;
}

.menuProgetto {
	width: 97vw;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1.5vw;
}

.tag {
	width: 18.2vw;
	padding-left: 1.5vw;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1.3vw;
}

.t-tag {
	font-size: 0.65vw;
	font-family: 'Sora';
	font-weight: 600;
}


.anno {
	width: 18.2vw;
	font-size: 1.26vw;
	font-family: 'Sora';
	font-weight: 400;
}

.titolo {
	width: 18.2vw;
	font-size: 1.26vw;
	font-family: 'Sora';
	font-weight: 400;
	text-decoration: underline;
	text-underline-offset: 0.25vw;
	text-decoration-thickness: 0.1vw;
	cursor: pointer;
}

.null {
	width: 18.2vw;
}

.vai {
	width: 18.2vw;
	display: flex;
	justify-content: flex-end;
	padding-right: 1.5vw;
	cursor: pointer;
}

.arrow {
	height: 1.5vw;
	rotate: -90deg;
	padding-right: 0.7vw;
}

.raw {
	width: 100%;
	height: 0.1vw;
	background-color: black;
}

.preview-img-menu {
	position: absolute;
	z-index: 1;
	margin-top: var(--y);
	width: 30vw;
	margin-left: 65vw;
	display: none;
	transform: translate(calc(-50% + 20vw * var(--x)));
}